body {
    background-color: #0a223d;
}
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  border-radius: 4px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #menu li{
  display: inline-block;
  margin: 0 20px;
  list-style: none;
  position: relative;
  left: 45%;
  text-transform: uppercase;
  font-size: 30px;
}

.topnav #menu #logo{
  list-style: none;
  text-decoration: none;
  position: relative;
  left: -170%;
  text-transform: uppercase;
  font-size: 23px;
  color: #0a223d;
}

/* Style navigation menu links */
.topnav #menu li #about {
  text-decoration: none;
  font-size: 19px;
  color: #0a223d;
}

.topnav #menu li #about:hover {
  background-color: #0a223d;
  color: #ddd;
  border-radius: 18px;
  padding: 10px;
}

.topnav #menu li #login {
  text-decoration: none;
  font-size: 19px;
  background-color: #0a223d;
  color: #ddd;
  border-radius: 18px;
  padding: 10px 12px;
}

.topnav #menu li #login:hover {
  background-color: #ddd;
  color: #0a223d;
  border-style: solid;

}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-stu {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 14px 20px;
}
#eyd {
  text-align: center;
}